@import "tailwindcss";
@plugin "daisyui" {
  themes: dracula --default;
}
@plugin "@tailwindcss/typography";

.note-content img {
  max-width: 100%;
  height: 200px;
}

::highlight(search-result) {
  background-color: var(--color-accent);
  color: var(--color-accent-content);
}
